# SPDX-FileCopyrightText: 2020 Carnegie Mellon University
#
# SPDX-License-Identifier: CC0-1.0

/dist/
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.venv
venv

.DS_Store
.AppleDouble
.LSOverride
._*
